{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- TODO: favicon and project's own css files here -->

		{% bootstrap_css %}
    {% block head %}
    {% endblock head %}
	</head>
	<body>
    {% block navbar %}
    {% endblock navbar %}

		<div id="header-div">
			{% block header %}
			{% endblock header %}
		</div>
		<div id="content-div">
			{% block content %}
			{% endblock content %}
		</div>

    <!-- Scripts and JQuery (for Bootstrap) -->
		{% bootstrap_javascript jquery='full' %}
    {% block scripts %}
    {% endblock scripts %}
	</body>
</html>
